// Usecases.scss

.splide-track {
  max-width: 384px !important;
  max-height: 448px !important;

  @media (max-width: 600px) {
    max-width: 234.63px !important;
    max-height: 252.68 !important;
  }
}

.splide-paper {
  width: 384px;
  height: 448px;
  max-width: 384px !important;
  max-height: 448px !important;
  border-radius: 12px 0px 0px 0px;
  opacity: 1;
  background-color: #233e76 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  padding: 1rem;
  text-align: start;


  .slide-content {
    font-size: 32px !important;
    font-weight: 700 !important;
    line-height: 27.6px !important;
    letter-spacing: 0.11999999731779099px !important;
    text-align: left;

    @media (max-width: 600px) {
      font-size: 18.05px !important;
      line-height: 15.57px !important;
      letter-spacing: 0.06768189370632172px !important;
      text-align: left;
    }
  }

  .slide-description {
    font-size: 20px !important;
    font-weight: 300 !important;
    line-height: 27.6px !important;
    letter-spacing: 0.11999999731779099px !important;
    text-align: left;

    @media (max-width: 600px) {
      font-size: 11.28px !important;
      line-height: 15.57px !important;
      letter-spacing: 0.06768189370632172px !important;
    }
  }

  @media (max-width: 600px) {
    width: 234.63px;
    height: 252.68px;
    max-width: 234.63px !important;
    max-height: 252.68px !important;
  }
}
